@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.wrapper {
  margin-top: 5%;
  width: 100%;
  height: 100%;
}

.line__1,
.line__2 {
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide text behind the cursor */
  margin: 0.5rem auto;
  font-family: "Major Mono Display", monospace;
  font-size: 2rem;
  font-weight: bold;
}

.line__1 {
  border-right: 2px solid rgba(32, 77, 113, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__1 2s steps(30, end) 1s 1 normal both,
    animated-cursor__1 900ms steps(30, end) 8;
}

.line__2 {
  border-right: 2px solid rgba(32, 77, 113, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__2 2s steps(30, end) 1s 1 normal both,
    animated-cursor__2 900ms steps(30, end) infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@keyframes animated-cursor__1 {
  from {
    border-right-color: rgba(32, 77, 113, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-cursor__2 {
  from {
    border-right-color: rgba(32, 77, 113, 0.9);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 45rem;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 29rem;
  }
}
