.leadershipBox {
    margin: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 12vw;
}

.leadershipBox img {
    height: 180px;
    width: auto;
}

.alignImage {
    display: flex;
    justify-content: center;
}