.projectBox {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    border-radius: 0.5rem;
    text-decoration:none;
    display: flex;
    box-shadow: 5px 5px 5px 5px gray;
    justify-content: space-between;
    height: 20vh;
}

.projectBoxText {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.projectBox:hover {
    background-color: rgb(208, 174, 129);
}

.projectBoxTitle {
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: left;
    text-decoration: none; /* no underline */
    color: black;
    text-decoration: underline;
}

.tinyMarkdown {
    box-sizing: border-box;
    overflow-y: scroll;
    color: black;
}

.tinyMarkdown p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-align: left;
}

.tinyMarkdown h1 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-align: left;
}

.projectBoxImage {
    display: flex;
    padding-left: 40px;
}